<h2>NOW PLAYING:</h2>
<h3><%= @choice.name %></h3>
<p>by <a href="/<%= @choice.artist.name %>"><%= @choice.artist.name %></a></p>
<p>genre: <a href="/<%= @choice.genre.name %>"><%= @choice.genre.name %></a></p>